# REF: https://flake8.pycqa.org/en/latest/user/options.html

[flake8]
#
# F401: module imported but unused
# F403: ‘from module import *’ used; unable to detect undefined names
#
per-file-ignores =
    boot.py:F401,F403
#
# FS002 - '.format' used
#
extend-ignore = FS002
# @todo Once on ST4 and using Python 3.8 for this packge, stop ignoring flake8 FS002
